.control{
    width:45%;
}

#codice{
    font-weight: bold;
    font-style: oblique;
}

#bingo{
    text-align: center;
}

#esci{
    text-align: center;
}

#dati{
    font-size:large;
    color: white;
}

#content{
    height: 50vh;
}

#chat{
    width: 70%;
    margin-left: 15%;
}

.bottoni{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.esci{
    color: white;
    background-color: red;
    border-style: inset;
    border-color: black;
}