  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        <img src="../../assets/logo.png">
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card id="dati" *ngIf="this.iniziata===false">
    <p id="codice">Codice partita: {{this.codice}}</p>
    <p>Proprietario: {{this.userProprietario}}</p>
    <p>Partecipanti: {{this.numPartecipanti}}</p>
    <p>Montepremi: {{this.montepremi}}</p>
  </ion-card>
    <br>
    <div  *ngIf="this.propr.proprietario===true; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
      <div class="bottoni" *ngIf="this.iniziata===false">
        <ion-button class="control" shape="round" color="danger" (click)="this.end(this.codice!)">ANNULLA PARTITA</ion-button>
        <ion-button class="control" id="start" shape="round" color="success" (click)="this.start()">START PARTITA</ion-button>
        <!--manca controllo numero giocatori-->
    </div>
    </ng-template>
    
    <!--chat-->
    <div *ngIf="this.iniziata===false; then thenBlock2 else elseBlock2"></div>
    <ng-template #thenBlock2>
      <ion-button id="chat" shape="round" (click)="this.visualizzaChat()">CHAT</ion-button>
      <div *ngIf="this.chat===true">
        <app-chat [codice]="this.codice!"></app-chat>
      </div>
    </ng-template>
    <ion-content>
  <ng-template #elseBlock2>
    <div *ngIf="this.tabellone==true">
      <app-tabellone></app-tabellone>
    </div>
    <div *ngIf="this.cinquina">
      <app-cinquina (click)="togliMessaggio()"> </app-cinquina>
    </div>
  </ng-template>

    <app-schede [iniziata]="this.iniziata" [compra]="this.compra"> </app-schede>
  <div *ngIf="schermataFinale">
    <app-schermata-vittoria [risultato]="this.risultato"> </app-schermata-vittoria>
  </div>

<ng-template #elseBlock>
  <p>Proprietario: {{this.userProprietario}}</p>
  <ion-title><p> Codice partita: {{this.codice}} </p></ion-title>
  <div *ngIf="this.iniziata===false">
    <ion-button (click)="this.esci(this.codice!)">Esci</ion-button>
  </div>
</ng-template>
</ion-content>


 
    <div *ngIf="this.propr.proprietario===false; then thenBlock1 else elseBlock1"></div>
    <ion-footer>
      <ion-tabs>
    <ng-template #thenBlock1>
      <ion-tab-bar slot="bottom">
        <ion-tab-button [routerLink]="['/../../tabs/tab1']" (click)="this.esci(this.codice!)">
          <ion-icon name="game-controller-outline"></ion-icon>
        <ion-label>Home Page</ion-label>
      </ion-tab-button>
  
      <ion-tab-button [routerLink]="['/../../tabs/tab2']" (click)="this.esci(this.codice!)">
        <ion-icon name="wallet-outline"></ion-icon>
        <ion-label>Market</ion-label>
      </ion-tab-button>
  
      <ion-tab-button [routerLink]="['/../../tabs/tab3']" (click)="this.esci(this.codice!)">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>Profilo</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
    </ng-template>
    <ng-template #elseBlock1>
      <ion-tab-bar slot="bottom">
        <ion-tab-button [routerLink]="['/../../tabs/tab1']" (click)="this.end(this.codice!)">
          <ion-icon name="game-controller-outline"></ion-icon>
          <ion-label>Home Page</ion-label>
        </ion-tab-button>
    
        <ion-tab-button [routerLink]="['/../../tabs/tab2']" (click)="this.end(this.codice!)">
          <ion-icon name="wallet-outline"></ion-icon>
          <ion-label>Market</ion-label>
        </ion-tab-button>
    
        <ion-tab-button [routerLink]="['/../../tabs/tab3']" (click)="this.end(this.codice!)">
          <ion-icon name="person-outline"></ion-icon>
          <ion-label>Profilo</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ng-template>
  </ion-tabs>
</ion-footer>

