#compra{
    width: 60%;
    height: 5vh;
}

#bottone{
    text-align: center;
    width: 100%;
}

#schede{
    height: 100%;
    width: 100%;
}

#bottoni{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: center;
}


.control{
    width:45%;
}