.acquisto{
    background-color: white;
    width: 30vw;
    height: 20vh;
    border: black solid 2px;
    color: black;
    border-radius: 10px;
}

.parte{
    border: black solid 2px;
}

#titolo{
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    height: 15%;
}
#immagine{
    height: 70%;
}

#prezzo{
    height: 15%;
}

img{
    width: 90%;
    height: 90%;
}