.cella{
    width: 8vw;
    height: 4vh;
    border: 1px solid black;
    text-align: center;
}

.estraibile{
    background-color: aliceblue;
    color: black;
    
}

.estratta{
    background-color: red;
    color: white;
    font-size: large;
}

