<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img src="../../assets/logo.png">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>{{user?.username}}</h1>
  <p>Nome: {{user?.nome}} </p>
  <p>Cognome: {{user?.cognome}} </p>
  <p>Mail: {{user?.mail}} </p>
  <hr>
  <h2> Statistiche </h2>
  <p>Partite fatte: {{user?.stats?.partiteFatte}} </p>
  <p>Bingo: {{user?.stats?.bingo}}</p>
  <p>Cinquine: {{user?.stats?.cinquine}}</p>
  <p>Superbingo: {{user?.stats?.superbingo}}</p>
  <hr>
  <h2> Cambia timbro </h2>
  <div id="timbri">
    <app-scelta-timbro *ngFor="let timbro of timbri" [url]="timbro.url"></app-scelta-timbro>
  </div>

</ion-content>
