#cartella{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 15vh;
}
.scheda{
    background-color: aliceblue;
    width: 60%;
    margin-left: 20%;
    padding: 2%;
    text-align: justify;
}

