#content{
    width: 90%;
    height: 80%;
    background-color: aqua;
    color: black;
}

#risultato{
    text-align: center;
    font-size: large;
    font-weight: bold;
    color: white;
}

#bottoni{
    text-align: center;
}

.dati{
    font-size: medium;
}