
  <ion-card>
  <p id="risultato">- {{risultato}} -</p>
  <p class="dati">Bingo: {{vincitoreBingo}}</p>
  <p class="dati">Vincita: {{vincitaBingo}}</p>
  <p class="dati">Cinquina: {{vincitoreCinquina}}</p>
  <p class="dati">Vincita: {{vincitaCinquina}}</p>
  <p class="dati">Numeri estratti: {{numeriEstratti}}</p>
  <p *ngIf="superbingo"> SUPERBINGO!! </p>
  </ion-card>
  <div id="bottoni">
    <ion-button shape="round" color="danger"(click)="esci()"> Esci </ion-button>
    <ion-button shape="round" color="success" (click)="continua()"> Continua </ion-button>
  </div>
