<ion-header>
  <ion-toolbar>
    <ion-title><p> Codice partita: {{this.codice}} </p></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="chat">
<div *ngIf="this.chat===true">
  <div *ngFor="let message of messageList">
    <li>
        {{message}}
    </li>  
  </div>
  <input [(ngModel)]="newMessage" (keyup)="$event.keyCode === 13 && sendMessage()" />
  <button (click)="sendMessage()">Send Message</button>
</div>
<ion-button (click)="this.visualizzaChat()">CHAT</ion-button>

<div *ngIf="this.propr.proprietario===true; then thenBlock else elseBlock"></div>
  <ng-template #thenBlock>
    <div *ngIf="this.iniziata===false">
      <ion-button (click)="this.start()">START PARTITA</ion-button><!--manca controllo numero giocatori-->
      <ion-button (click)="this.elimina.cancelPartita(this.codice)">ANNULLA PARTITA</ion-button>
  </div>
  </ng-template>
  <ng-template #elseBlock>
    <p>Proprietario: {{this.userProprietario}}</p>
    <ion-button (click)="this.esci(this.codice)">Esci</ion-button>
  </ng-template>
  <div *ngIf="this.startPartita===true">
    <app-tabellone></app-tabellone>
  </div>
</ion-content>
<app-schede></app-schede>



<ion-content>
  <ion-tabs>
    <div *ngIf="this.propr.proprietario===false; then thenBlock1 else elseBlock1"></div>
    <ng-template #thenBlock1>
    <ion-tab-bar slot="bottom">
      <ion-tab-button [routerLink]="['/../../tabs/tab1']" (click)="this.esci(this.codice)" (click)="this.stopSub()">
        <ion-icon name="game-controller-outline"></ion-icon>
        <ion-label>Home Page</ion-label>
      </ion-tab-button>
  
      <ion-tab-button [routerLink]="['/../../tabs/tab2']" (click)="this.esci(this.codice)">
        <ion-icon name="wallet-outline"></ion-icon>
        <ion-label>Market</ion-label>
      </ion-tab-button>
  
      <ion-tab-button [routerLink]="['/../../tabs/tab3']" (click)="this.esci(this.codice)">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>Profilo</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
    </ng-template>
    <ng-template #elseBlock1>
      <ion-tab-bar slot="bottom">
        <ion-tab-button [routerLink]="['/../../tabs/tab1']" (click)="this.elimina.cancelPartita(this.codice)" (click)="this.stopSub()">
          <ion-icon name="game-controller-outline"></ion-icon>
          <ion-label>Home Page</ion-label>
        </ion-tab-button>
    
        <ion-tab-button [routerLink]="['/../../tabs/tab2']" (click)="this.elimina.cancelPartita(this.codice)">
          <ion-icon name="wallet-outline"></ion-icon>
          <ion-label>Market</ion-label>
        </ion-tab-button>
    
        <ion-tab-button [routerLink]="['/../../tabs/tab3']" (click)="this.elimina.cancelPartita(this.codice)">
          <ion-icon name="person-outline"></ion-icon>
          <ion-label>Profilo</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ng-template>
  
  </ion-tabs>
  
</ion-content>
