<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Registrati</ion-card-title>
    </ion-card-header>
    <ion-card-content>
     <form #RegisterForm="ngForm" (ngSubmit)="registerUser(RegisterForm.value)">
        <ion-item>
          <ion-label position="floating">Username: </ion-label>
          <ion-input type="text" ngModel id="username" name="username"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Password: </ion-label>
          <ion-input type="text" ngModel id="password" name="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Nome: </ion-label>
          <ion-input type="text" ngModel id="nome" name="nome"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Cognome: </ion-label>
          <ion-input type="text" ngModel id="cognome" name="cognome"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Mail: </ion-label>
          <ion-input type="mail" ngModel id="mail" name="mail"></ion-input>
        </ion-item>
        <ion-button type="submit" id="registraUser">Invia</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
