#intestazione{
    border-style:inset;
    border-color:white ;
    text-align: center;
}
#bingo{
    text-align: center;
}

#crea{
    width: 90%;
    margin-left: 5%;
}

.righe{
    text-align: center;
}

#cerca{
    text-align: center;

}
