#intestazione{
    border-style:inset;
    border-color:white ;
    text-align: center;
}
#bingo{
    text-align: center;
}

#crea{
    width: 90%;
    margin-left: 5%;
}

.righe{
    text-align: center;
}

#cerca{
    text-align: center;
}

#refresh{
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 20px;
    margin-left: 10px;

}
